<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Login</title>
    <link rel="stylesheet" href="/css/auth.css" />
  </head>
  <body>
    <div class="login__container">
      <h1 class="login__title">Reset Password</h1>
      <% if (error) { %>
      <p class="login__error"><%= error %></p>
      <% } %> <% if (sent) { %>
      <p style="color: greenyellow">an email has been sent to you</p>
      <% } %>
      <form class="login__form" action="/admin/reset" method="POST">
        <input
          type="email"
          name="email"
          class="login__input"
          placeholder="Email"
          required
        />
        <button type="submit" class="login__button">Reset</button>
      </form>
      <p class="login__link">
        <a href="/admin/login">Back to login</a>
      </p>
    </div>
  </body>
</html>
