body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  position: relative;
}

h1 {
  text-align: center;
  color: #333;
}



.button {
  width: 100%;
  padding: 10px;
  background-color: #5cb85c;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.button:hover {
  background-color: #4cae4c;
}

.dashboard {
  /* max-width: 800px; */
  margin: 0px auto;
  padding: 20px;
  background-color: #fff;
  z-index: -1;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: left;
  width: 20% !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

th {
  background-color: #f2f2f2;
}

.header-dash {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  width: fit-content;
  padding: 0 10px;
  height: 40px;
}

.admin-modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(51, 51, 51, 0.8); /* Semi-transparent background */
  z-index: 100;
  display: none; /* Hidden by default */
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  width: 500px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
}

.modal-content form {
  flex-direction: column;
  display: flex;
  gap: 1rem;
}

.modal-content form input {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.modal-content form input:focus {
  border-color: #5cb85c; /* Change border color on hover */
  outline: none;
}

.close-btn {
  background: none;
  border: none;
  font-size: 20px;
  color: #333;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  width: fit-content;
}

.modal-content form select {
  width: 100%; /* Full width */
  padding: 10px; /* Add padding */
  border: 1px solid #ccc; /* Border style */
  border-radius: 4px; /* Rounded corners */
  background-color: #fff; /* Background color */
  font-size: 16px; /* Font size */
  cursor: pointer; /* Pointer cursor */
}

/* Add a hover effect */
select:hover {
  border-color: #5cb85c; /* Change border color on hover */
}

/* Add focus styles */
select:focus {
  outline: none; /* Remove default outline */
  border-color: #5cb85c; /* Border color on focus */
  box-shadow: 0 0 5px rgba(92, 184, 92, 0.5); /* Add shadow on focus */
}

.action-btn {
  font-size: 25px;
  display: flex;
  justify-content: center;
}

.del {
  color: red;
}

.view {
  color: #4cae4c;
}

.action-btn-con {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.act-btn-holder {
  border: none;
  background-color: transparent;
}
